<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ cfg.title }}</title>

        <link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/estilo.css">

        <script>
         const theme_key = '{{ cfg.theme }}';
         const font_family = '{{ cfg.fontfamily }}';
        </script>
        <script src="https://unpkg.com/@strudel/repl@latest"></script>
        <script src="/static/js/comun.js"></script>
        <script src="/static/js/init.js"></script>
    </head>
    <body>
        <nav id="menu">
            <button id="btnEval" title="Evaluar e Iniciar">[=]</button>
            <button id="btnStart" title="Reproducir/Continuar">[>]</button>
            <button id="btnPause" title="Pausar y Esperar">[-]</button>
            <button id="btnStop" title="Detener y Reiniciar">[·]</button>
            <span>---</span>
            <button id="btnLineNumberToggle" title="Conmutar Visibilidad de Números de Línea">(LN)</button>
            <button id="btnWrapTextToggle" title="Conmutar Corte de línea de texto.">(CT)</button>
            <button id="btnAutoCommpleteToggle" title="Conmutar Ayuda y Autocompletado">(AC)</button>
            <span>---</span>
            <button id="btnShutdown" title="Cerrar la aplicación">[X]</button>
            <span>---</span>
            <span title="Dimensiones de ventana">{<span id="dimensiones"></span>}</span>
            <br>
            <input id="codeComando" title="Área de ejecución de comandos.">
        </nav>
        <div class="areaCode">
            <div id="code"></div>
        </div>
    </body>
</html>
